<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>update your data</h1>
    <form action="{% url 'uprec' stu.id %}" method="post">
        {% csrf_token %}
        <label for="">Number</label><br>
        <input type="text" name="sno" value="{{stu.sno}}"><br>

        <label for="">Name</label><br>
        <input type="text" name="sname" id="" value="{{stu.sname}}"><br>

        <label for="">Age</label><br>
        <input type="text" name="sage" id="" value="{{stu.sage}}"><br>

        <label for="">Place</label><br>
        <input type="text" name="splace" id="" value="{{stu.splace}}"><br>

        <label for="">Major</label><br>
        <input type="text" name="smajor" id="" value="{{stu.smajor}}"><br>

        <button type="submit">Update</button>

    </form>
    
</body>
</html>